*.aux
*.log
*.bbl
*.blg
*.out
*.toc
*.lof
*.lot
*.fdb_latexmk
*.fls
*.bcf
*.run.xml
*.synctex.gz
*.synctex(busy)
*.synctex(busy)*
*.synctex.gz(busy)
*.synctex.gz(busy)*
*.synctex
*.synctex.gz
.vscode
*/venv*
*.auxlock
media/*.pdf
main.pdf
report.html